<?xml version="1.0" encoding="UTF-8"?>
<config>
  <tabs>
    <pakettikauppa translate="label" module="pakettikauppa_logistics">
        <label>Pakettikauppa</label>
        <sort_order>100</sort_order>
    </pakettikauppa>
  </tabs>
  <sections>
    <pakettikauppa translate="label" module="pakettikauppa_logistics">
           <label>Extension Options</label>
           <tab>pakettikauppa</tab>
           <sort_order>1000</sort_order>
           <show_in_default>1</show_in_default>
           <show_in_website>1</show_in_website>
           <show_in_store>1</show_in_store>
           <groups>
               <api translate="label" module="pakettikauppa_logistics">
                   <label>General</label>
                   <frontend_type>text</frontend_type>
                   <sort_order>1000</sort_order>
                   <show_in_default>1</show_in_default>
                   <show_in_website>1</show_in_website>
                   <show_in_store>1</show_in_store>
                   <fields>
                      <development translate="label">
                          <label>Developer mode:</label>
                          <frontend_type>select</frontend_type>
                          <sort_order>10</sort_order>
                          <show_in_default>1</show_in_default>
                          <show_in_website>1</show_in_website>
                          <show_in_store>1</show_in_store>
                          <source_model>adminhtml/system_config_source_yesno</source_model>
                      </development>
                       <key translate="label">
                           <label>API key:</label>
                           <comment>Insert your pakettikauppa api key here.</comment>
                           <frontend_type>text</frontend_type>
                           <sort_order>20</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </key>
                       <secret translate="label">
                           <label>Secret key:</label>
                           <comment>Insert your pakettikauppa secret key here.</comment>
                           <frontend_type>text</frontend_type>
                           <sort_order>20</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </secret>
                   </fields>
               </api>
               <settings translate="label" module="pakettikauppa_logistics">
                 <label>Sorting Options</label>
                 <frontend_type>text</frontend_type>
                 <sort_order>200</sort_order>
                 <show_in_default>1</show_in_default>
                 <show_in_website>1</show_in_website>
                 <show_in_store>1</show_in_store>
                 <fields>
                   <sorting_pickup translate="label">
                       <label>Sort pickup points by:</label>
                       <frontend_type>select</frontend_type>
                       <source_model>pakettikauppa_logistics/Selectpickup</source_model>
                       <sort_order>10</sort_order>
                       <show_in_default>1</show_in_default>
                       <show_in_website>1</show_in_website>
                       <show_in_store>1</show_in_store>
                   </sorting_pickup>
                   <sorting_home translate="label">
                       <label>Sort home delivery methods by:</label>
                       <frontend_type>select</frontend_type>
                       <source_model>pakettikauppa_logistics/Selecthome</source_model>
                       <sort_order>11</sort_order>
                       <show_in_default>1</show_in_default>
                       <show_in_website>1</show_in_website>
                       <show_in_store>1</show_in_store>
                   </sorting_home>
                 </fields>
               </settings>
               <sender translate="label" module="pakettikauppa_logistics">
                   <label>Store information</label>
                   <frontend_type>text</frontend_type>
                   <sort_order>1001</sort_order>
                   <show_in_default>1</show_in_default>
                   <show_in_website>1</show_in_website>
                   <show_in_store>1</show_in_store>
                   <fields>
                       <iban translate="label">
                           <label>IBAN:</label>
                           <frontend_type>text</frontend_type>
                           <sort_order>0</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </iban>
                       <codbic translate="label">
                           <label>BIC/SWIFT:</label>
                           <frontend_type>text</frontend_type>
                           <sort_order>1</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </codbic>
                       <name translate="label">
                           <label>Store name:</label>
                           <comment>As shown on package.</comment>
                           <frontend_type>text</frontend_type>
                           <sort_order>20</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </name>
                       <address translate="label">
                           <label>Storage Address:</label>
                           <comment>Adress where pakettikauppa can take the package.</comment>
                           <frontend_type>text</frontend_type>
                           <sort_order>20</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </address>
                       <postcode translate="label">
                           <label>Storage Postcode:</label>
                           <frontend_type>text</frontend_type>
                           <sort_order>20</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </postcode>
                       <city translate="label">
                           <label>Storage City:</label>
                           <frontend_type>text</frontend_type>
                           <sort_order>20</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </city>
                       <country translate="label">
                           <label>Storage Country:</label>
                           <frontend_type>select</frontend_type>
                           <source_model>adminhtml/system_config_source_country</source_model>
                           <sort_order>20</sort_order>
                           <show_in_default>1</show_in_default>
                           <show_in_website>1</show_in_website>
                           <show_in_store>1</show_in_store>
                       </country>
                   </fields>
               </sender>
           </groups>
       </pakettikauppa>
    <carriers>
      <groups>
        <posti_express_paketti translate="label">
          <label>Posti - Express Paketti</label>
          <sort_order>34</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <title translate="label">
              <label>Shipping Method Name</label>
              <frontend_type>text</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </title>
            <price translate="label">
              <label>Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>21</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <cart_price translate="label">
              <label>Minimum cart price for discount shipping price </label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </cart_price>
            <new_price translate="label">
              <label>Discount Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>33</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </new_price>
            <sort_order>
               <label>Sort Order:</label>
               <validate>validate-zero-or-greater</validate>
               <frontend_type>text</frontend_type>
               <sort_order>40</sort_order>
               <show_in_default>1</show_in_default>
               <show_in_website>1</show_in_website>
               <show_in_store>1</show_in_store>
            </sort_order>
          </fields>
        </posti_express_paketti>
        <posti_pikkupaketti translate="label">
          <label>Posti - Pikkupaketti</label>
          <sort_order>33</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <title translate="label">
              <label>Shipping Method Name</label>
              <frontend_type>text</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </title>
            <price translate="label">
              <label>Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>21</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <cart_price translate="label">
              <label>Minimum cart price for discount shipping price </label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </cart_price>
            <new_price translate="label">
              <label>Discount Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>33</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </new_price>
            <sort_order>
               <label>Sort Order:</label>
               <validate>validate-zero-or-greater</validate>
               <frontend_type>text</frontend_type>
               <sort_order>40</sort_order>
               <show_in_default>1</show_in_default>
               <show_in_website>1</show_in_website>
               <show_in_store>1</show_in_store>
            </sort_order>
          </fields>
        </posti_pikkupaketti>
        <posti_kotipaketti translate="label">
          <label>Posti - Kotipaketti</label>
          <sort_order>34</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <title translate="label">
              <label>Shipping Method Name</label>
              <frontend_type>text</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </title>
            <price translate="label">
              <label>Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>21</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <cart_price translate="label">
              <label>Minimum cart price for discount shipping price </label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </cart_price>
            <new_price translate="label">
              <label>Discount Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>33</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </new_price>
            <sort_order>
               <label>Sort Order:</label>
               <validate>validate-zero-or-greater</validate>
               <frontend_type>text</frontend_type>
               <sort_order>40</sort_order>
               <show_in_default>1</show_in_default>
               <show_in_website>1</show_in_website>
               <show_in_store>1</show_in_store>
            </sort_order>
          </fields>
        </posti_kotipaketti>
        <matkahuolto_jakopaketti translate="label">
          <label>Matkahuolto - Jakopaketti</label>
          <sort_order>35</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <title translate="label">
              <label>Shipping Method Name</label>
              <frontend_type>text</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </title>
            <price translate="label">
              <label>Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>21</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <cart_price translate="label">
              <label>Minimum cart price for discount shipping price </label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </cart_price>
            <new_price translate="label">
              <label>Discount Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>33</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </new_price>
            <sort_order>
               <label>Sort Order:</label>
               <validate>validate-zero-or-greater</validate>
               <frontend_type>text</frontend_type>
               <sort_order>40</sort_order>
               <show_in_default>1</show_in_default>
               <show_in_website>1</show_in_website>
               <show_in_store>1</show_in_store>
            </sort_order>
          </fields>
        </matkahuolto_jakopaketti>
        <matkahuolto_bussipaketti translate="label">
          <label>Matkahuolto - Bussipaketti</label>
          <sort_order>36</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <title translate="label">
              <label>Shipping Method Name</label>
              <frontend_type>text</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </title>
            <price translate="label">
              <label>Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>21</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <cart_price translate="label">
              <label>Minimum cart price for discount shipping price </label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </cart_price>
            <new_price translate="label">
              <label>Discount Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>33</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </new_price>
            <sort_order>
               <label>Sort Order:</label>
               <validate>validate-zero-or-greater</validate>
               <frontend_type>text</frontend_type>
               <sort_order>40</sort_order>
               <show_in_default>1</show_in_default>
               <show_in_website>1</show_in_website>
               <show_in_store>1</show_in_store>
            </sort_order>
          </fields>
        </matkahuolto_bussipaketti>
        <gls_eurobusiness translate="label">
          <label>GLS - Eurobusiness</label>
          <sort_order>37</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <title translate="label">
              <label>Shipping Method Name</label>
              <frontend_type>text</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </title>
            <price translate="label">
              <label>Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>21</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <cart_price translate="label">
              <label>Minimum cart price for discount shipping price </label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </cart_price>
            <new_price translate="label">
              <label>Discount Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>33</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </new_price>
            <sort_order>
               <label>Sort Order:</label>
               <validate>validate-zero-or-greater</validate>
               <frontend_type>text</frontend_type>
               <sort_order>40</sort_order>
               <show_in_default>1</show_in_default>
               <show_in_website>1</show_in_website>
               <show_in_store>1</show_in_store>
            </sort_order>
          </fields>
        </gls_eurobusiness>
        <gls_eurobusinesspallet translate="label">
          <label>GLS - Eurobusinesspallet</label>
          <sort_order>38</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <title translate="label">
              <label>Shipping Method Name</label>
              <frontend_type>text</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </title>
            <price translate="label">
              <label>Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>21</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <cart_price translate="label">
              <label>Minimum cart price for discount shipping price </label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </cart_price>
            <new_price translate="label">
              <label>Discount Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>33</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </new_price>
            <sort_order>
               <label>Sort Order:</label>
               <validate>validate-zero-or-greater</validate>
               <frontend_type>text</frontend_type>
               <sort_order>40</sort_order>
               <show_in_default>1</show_in_default>
               <show_in_website>1</show_in_website>
               <show_in_store>1</show_in_store>
            </sort_order>
          </fields>
        </gls_eurobusinesspallet>
        <gls_express translate="label">
          <label>GLS - Express</label>
          <sort_order>39</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <title translate="label">
              <label>Shipping Method Name</label>
              <frontend_type>text</frontend_type>
              <sort_order>20</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </title>
            <price translate="label">
              <label>Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>21</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <cart_price translate="label">
              <label>Minimum cart price for discount shipping price </label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </cart_price>
            <new_price translate="label">
              <label>Discount Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>33</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </new_price>
            <sort_order>
               <label>Sort Order:</label>
               <validate>validate-zero-or-greater</validate>
               <frontend_type>text</frontend_type>
               <sort_order>40</sort_order>
               <show_in_default>1</show_in_default>
               <show_in_website>1</show_in_website>
               <show_in_store>1</show_in_store>
            </sort_order>
          </fields>
        </gls_express>
        <posti_pickuppoint translate="label">
          <label>(Pickup Point) Posti - Postipaketti</label>
          <sort_order>29</sort_order>
          <show_in_default>32</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <price translate="label">
              <label>Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>21</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <cart_price translate="label">
              <label>Minimum cart price for discount shipping price </label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </cart_price>
            <new_price translate="label">
              <label>Discount Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>33</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </new_price>
            <sort_order>
               <label>Sort Order:</label>
               <validate>validate-zero-or-greater</validate>
               <frontend_type>text</frontend_type>
               <sort_order>40</sort_order>
               <show_in_default>1</show_in_default>
               <show_in_website>1</show_in_website>
               <show_in_store>1</show_in_store>
            </sort_order>
          </fields>
        </posti_pickuppoint>
        <dbschenker_pickuppoint translate="label">
          <label>(Pickup Point) DBSchekner Noutopistepaketti</label>
          <sort_order>30</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <price translate="label">
              <label>Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>21</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <cart_price translate="label">
              <label>Minimum cart price for discount shipping price </label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </cart_price>
            <new_price translate="label">
              <label>Discount Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>33</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </new_price>
            <sort_order>
               <label>Sort Order:</label>
               <validate>validate-zero-or-greater</validate>
               <frontend_type>text</frontend_type>
               <sort_order>40</sort_order>
               <show_in_default>1</show_in_default>
               <show_in_website>1</show_in_website>
               <show_in_store>1</show_in_store>
            </sort_order>
          </fields>
        </dbschenker_pickuppoint>
        <matkahuolto_pickuppoint translate="label">
          <label>(Pickup Point) Matkahuolto - Verkkopaketti</label>
          <sort_order>30</sort_order>
          <show_in_default>1</show_in_default>
          <show_in_website>1</show_in_website>
          <show_in_store>1</show_in_store>
          <fields>
            <active translate="label">
              <label>Enabled</label>
              <frontend_type>select</frontend_type>
              <source_model>adminhtml/system_config_source_yesno</source_model>
              <sort_order>1</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </active>
            <price translate="label">
              <label>Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>21</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </price>
            <cart_price translate="label">
              <label>Minimum cart price for discount shipping price </label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>30</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </cart_price>
            <new_price translate="label">
              <label>Discount Price</label>
              <validate>validate-zero-or-greater</validate>
              <frontend_type>text</frontend_type>
              <sort_order>33</sort_order>
              <show_in_default>1</show_in_default>
              <show_in_website>1</show_in_website>
              <show_in_store>1</show_in_store>
            </new_price>
            <sort_order>
               <label>Sort Order:</label>
               <validate>validate-zero-or-greater</validate>
               <frontend_type>text</frontend_type>
               <sort_order>40</sort_order>
               <show_in_default>1</show_in_default>
               <show_in_website>1</show_in_website>
               <show_in_store>1</show_in_store>
            </sort_order>
          </fields>
        </matkahuolto_pickuppoint>
      </groups>
    </carriers>
  </sections>
</config>
